---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <main>
    <h1>About</h1>
    <div class="grid-2">
      <p>
        Being at KUNE Festival is an immersive experience that blends art, music, and the island’s natural beauty. The location’s secludedness adds to the sense of separation from everyday life. At the same time, the art invites us to engage in open discussions and imagine a
        world that can be different, making a positive impact over our mentality and worldview. In conjunction with the art, the music creates a holistic cultural experience representative of the modern, young Nordic artistic community.Most importantly, we strive to build an
        environment that values and celebrates what we call the ‘Othe rness’ of the world. The Otherness is a concept that acknowledges the existence of people who may be similar to us in many ways yet possess traits, values, and characteristics that set them apart as “other.”
        Humans share a great deal in common, but we are also remarkably diverse regarding cultural or social norms, habits, or behavior. The Otherness element recognizes this diversity and encourages us to acknowledge, appreciate, and celebrate our differences. By embracing the
        Otherness, we create a more inclusive, compassionate, and open-minded world.
      </p>
      <p>
        Rather than viewing differences as a source of conflict or division, we recognize them as a source of strength and beauty. The Otherness element invites us to see the world through the eyes of others, to listen to their stories, and to appreciate their unique
        perspectives. In doing so, we expand our horizons and gain a more complex understanding of what it means to be human.On the more practical side of things, KUNE Festival is an NGO made up of over 30 passionate and dedicated individuals who work voluntarily year-round to
        create this extraordinary experience. Our team is comprised of artists, musicians, designers, writers, project managers, and cultural enthusiasts, all united by our shared vision and values. We are motivated by the belief that art and culture have the power to create
        positive change in the world, and we are committed to working towards this goal by creating a unique platform that celebrates the Nordic underground talent. Our team is inspired by the creative community that we are building, and we are continually amazed by the skills
        and dedication of our members.
      </p>
    </div>
  </main>
</Layout>
<img src="img/about22.webp" alt="" />
<style>
  main {
    background: var(--bg-blue);
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  p {
    font-family: var(--ff-text);
  }

  h1 {
    font-family: var(--ff-head);
  }
  img {
    position: absolute;
    left: 0;
    aspect-ratio: 1890/1417;
    width: 100%;
    height: 100px;
    opacity: 0.5;
    top: 0;
    height: auto;
  }
</style>
