---
import Layout from "../layout/Layout.astro";
import Countdown from "../components/Countdown.astro";
import LineUp from "../components/Line_up.astro";
import LineUpSmall from "../components/Line_up_small.astro";
import LineUpMedium from "../components/Line_up_medium.astro";
---

<Layout>
  <main>
    <div class="first"></div>
    <img src="img/kune_landingIMG.png" alt="" />
    <div class="second">
      <h1>MUSIC, ART, PEOPLE, FOOD</h1><h2>19/7-23/7</h2>
    </div>
    <div class="second"></div>
    <div class="third">
      <p>
        BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY
        TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY
        TICKET NOW / BUY TICKET NOW
      </p>
    </div>
    <div class="fourth">
      <h1>LINE-UP</h1>
      <div class="boks">
        <div class="first_grid">
          <div class="artist_content">
            <LineUp />
          </div>
          <div class="artist_content">
            <LineUpSmall />
          </div>
        </div><img src="img/streg.png" alt="" class="streg" />
        <div class="second_grid">
          <div class="artist_content">
            <LineUp />
          </div>
          <div class="artist_content">
            <LineUpSmall />
          </div>
        </div>
      </div>
      <Countdown />
    </div>

    <style>
      body {
        background-color: #f6d7b0;
      }
      .first {
        height: 831px;
        width: 100%;
        top: 0;
        background: rgb(249, 203, 140);
        background: linear-gradient(
          22deg,
          rgba(249, 203, 140, 1) 0%,
          rgba(242, 168, 126, 1) 12%,
          rgba(231, 141, 91, 1) 26%,
          rgba(223, 108, 73, 1) 45%,
          rgba(178, 101, 86, 1) 65%,
          rgba(167, 74, 74, 1) 81%,
          rgba(159, 58, 58, 1) 100%
        );
      }
      img {
        position: absolute;
        top: 0;
        width: 100%;
      }
      .second {
        position: absolute;
        top: 35%;
        left: 40%;
        color: #fff5e2;
        font-family: var(--ff-head);
        text-align: center;
      }
      .second h1 {
        font-size: 550%;
        font-weight: 700;
      }
      .second h2 {
        font-size: 320%;
      }

      .third {
        height: 32px;
        width: 100%;
        background-color: black;
      }
      .third p {
        padding-top: 0.5%;
        color: #fff5e2;
        text-align: center;
      }

      .fourth {
        margin-left: auto;
        margin-right: auto;
        height: 2608px;
        width: 80%;
        background-color: #f6d7b0;
        background-image: url("/img/line_upLanding.png");
        background-size: contain;
        background-repeat: no-repeat;
      }

      .fourth h1 {
        font-size: 790%;
        text-align: center;
        position: relative;
        top: 10%;
      }

      .boks {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        margin: auto;
        position: relative;
        top: 14%;
      }

      .first_grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-column: 1;
      }

      .second_grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-column: 3;
      }
      .artist_content {
        grid-column: 1;
        position: relative;
        top: 12%;
        left: 0%;
      }

      h1,
      h2 {
        font-family: var(--ff-head);
        font-weight: var(--fw-b);
      }

      .streg {
        grid-column: 2;
        width: 0.5%;
      }
    </style>
  </main>
</Layout>
