---
import Layout from "../layout/Layout.astro";
import Countdown from "../components/Countdown.astro";
import LineUp from "../components/Line_up.astro";
import LineUpSmall from "../components/Line_up_small.astro";
import LineUpMedium from "../components/Line_up_medium.astro";
---

<Layout>
  <!-- <LineUp />
  <LineUpMedium />
  <LineUpSmall /> -->
  <h1>Astro</h1>
  <Countdown />
</Layout>
