---
import Layout from "../layout/Layout.astro";
import Countdown from "../components/Countdown.astro";
import LineUp from "../components/Line_up.astro";
import LineUpSmall from "../components/Line_up_small.astro";
import LineUpMedium from "../components/Line_up_medium.astro";
import Program from "../components/Program.astro";
import ArtistCard from "../components/ArtistCard.astro";
---

<Layout title="Kune Home">
  <main>
    <div class="first">
      <img class="landingimg" src="img/kune_landingIMG1.png" alt="" />
      <div class="landing_content">
        <h1>MUSIC, ART, PEOPLE, FOOD</h1><h2>19/7-23/7</h2>
      </div>
    </div>
    <div class="second">
      <a href=""> <p></p></a>
    </div>
    <div class="fourth">
      <a href="line-up"><h1>LINE-UP</h1></a>
      <div class="boks">
        <div class="streg"></div>
        <a href="line-up"><img class="full_lineup" src="img/full_lineup.svg" alt="" /></a>
        <a href="#" class="first_card card_large"><ArtistCard size="large" /></a>
        <a href="#" class="second_card card_large"><ArtistCard size="large" /></a>
        <a href="#" class="third_card card_small"><ArtistCard size="small" /></a>
        <a href="#" class="fourth_card card_medium"><ArtistCard size="medium" /></a>
        <a href="#" class="fifth_card card_large"><ArtistCard size="large" /></a>
        <a href="#" class="sixth_card card_small"><ArtistCard size="small" /></a>
      </div>
    </div>
    <div class="features">
      <Program />
      <p>COUNTDOWN</p>
      <Countdown />
    </div>
  </main>
</Layout>

<style>
  a,
  a:active,
  a:link {
    font-style: none;
    text-decoration: none;
    color: black;
  }
  body {
    background-color: #f6d7b0;
  }

  main {
    overflow: hidden;
  }

  .first {
    position: relative;
  }
  .landingimg {
    min-width: 100%;
  }

  .landing_content {
    position: absolute;
    top: 28%;
    font-size: 270%;
    left: 38%;
    text-align: center;
    font-family: var(--ff-head);
    /* font-weight: var(--fw-xb); */
    color: #fff5e2;
  }

  .second {
    background-color: #3c2a10;
  }
  .second p::after {
    content: "BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW";
    text-align: center;
    animation: bouncing-text 15s linear infinite alternate;
    color: #fff5e2;
    display: block;
    padding: 0.5%;
  }

  @keyframes bouncing-text {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(-20%);
    }
  }

  /* genbrug hvad du kan*/

  .full_lineup {
    position: absolute;
    left: 6%;
    top: 8%;
  }

  .full_lineup:hover {
    transform: scale(1.1, 1.1);
  }
  .fourth {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #f6d7b0;
    background-image: url("/img/line_upLanding.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .fourth h1 {
    font-size: 750%;
    text-align: center;
    padding-top: 19%;
  }

  .boks {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: auto;
    padding-top: 13%;
  }

  h1,
  h2 {
    font-family: var(--ff-head);
    font-weight: var(--fw-b);
  }

  .streg {
    grid-column: 2;
    border-left: 4px solid #ffae3b;
    grid-row: 1/7;
    border-radius: 15px;
  }
  .first_card {
    grid-column: 1;
    margin-left: 28%;
    margin-top: 16%;
  }

  .second_card {
    grid-column: 3;
    margin-left: 13%;
  }

  .third_card {
    grid-column: 3;
    margin-top: -22%;
    margin-left: 62%;
  }

  .fourth_card {
    grid-column: 1;
    margin-top: 4%;
    margin-left: 56%;
  }

  .fifth_card {
    grid-column: 3;
    margin-top: 0%;
    margin-left: 7%;
  }

  .sixth_card {
    grid-column: 1;
    margin-top: -22%;
    margin-left: 30%;
  }

  .seventh_card {
    grid-column: 3;
    margin-top: 0%;
    margin-left: 55%;
  }
  .eighth_card {
    grid-column: 1;
    margin-top: -18%;
    margin-left: 50%;
  }

  .ninth_card {
    grid-column: 3;
    margin-top: 0%;
    margin-left: 12%;
  }

  .features {
    margin-top: 6%;
  }

  .features p {
    text-align: center;
    margin-top: 8%;
    font-size: 450%;
    font-family: var(--ff-text);
    font-weight: var(--fw-b);
    color: #ffffff;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  }
  /* Genbrug af ovenstående*/

  @media (max-width: 1450px) {
    .landing_content {
      top: 28%;
      font-size: 230%;
      left: 44%;
      right: 8%;
    }
    .fourth h1 {
      font-size: 705%;
    }
  }

  @media (max-width: 1405px) {
    .second p::after {
      content: "BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW";
    }

    .fourth h1 {
      font-size: 625%;
    }

    .first_card {
      margin-left: 15%;
    }
    .fourth_card {
      margin-top: 2%;
      margin-left: 44%;
    }
  }

  @media (max-width: 1250px) {
    .landing_content {
      top: 26%;
      font-size: 210%;
      left: 44%;
      right: 5%;
    }

    .fourth h1 {
      font-size: 580%;
    }

    .card_large {
      width: 15rem;
    }
    .card_medium {
      width: 10rem;
    }
    .card_small {
      width: 5rem;
    }

    .first_card {
      margin-left: 40%;
      margin-top: 10%;
    }

    .second_card {
      margin-top: -2%;
      margin-left: 13%;
    }

    .third_card {
      margin-top: -14%;
      margin-left: 53%;
    }

    .fourth_card {
      margin-top: 2%;
      margin-left: 62%;
    }

    /* .fifth_card {
      grid-column: 3;
      margin-top: 0%;
      margin-left: 7%;
    } */

    .sixth_card {
      margin-top: -18%;
      margin-left: 45%;
    }

    .seventh_card {
      margin-top: 0%;
      margin-left: 50%;
    }
    .eighth_card {
      margin-top: -15%;
      margin-left: 58%;
    }

    .ninth_card {
      grid-column: 3;
      margin-top: 0%;
      margin-left: 12%;
    }
  }

  @media (max-width: 1215px) {
    .second p::after {
      content: "BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW";
    }

    .fourth h1 {
      font-size: 560%;
    }
  }

  @media (max-width: 1120px) {
    .fourth h1 {
      font-size: 530%;
    }
  }

  @media (max-width: 1100px) {
    .card_large {
      width: 14rem;
    }
    .card_medium {
      width: 9rem;
    }
    .card_small {
      width: 4rem;
    }

    .first_card {
      margin-left: 26%;
    }

    .second_card {
      margin-left: 20%;
    }

    .third_card {
      margin-left: 64%;
    }

    .fourth_card {
      margin-left: 54%;
    }

    .fifth_card {
      margin-left: 12%;
    }

    .sixth_card {
      margin-left: 40%;
    }

    .seventh_card {
      margin-top: 0%;
      margin-left: 50%;
    }
    .eighth_card {
      margin-top: -15%;
      margin-left: 58%;
    }

    .ninth_card {
      grid-column: 3;
      margin-top: 0%;
      margin-left: 12%;
    }
  }

  @media (max-width: 1080px) {
    .landing_content {
      top: 26%;
      font-size: 180%;
      left: 44%;
      right: 5%;
    }

    .second p::after {
      content: "BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW";
    }

    .fourth h1 {
      font-size: 490%;
    }
  }

  @media (max-width: 930px) {
    .landing_content {
      top: 26%;
      font-size: 140%;
      left: 44%;
      right: 5%;
    }
    .second p::after {
      content: "BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW / BUY TICKET NOW";
    }

    .fourth h1 {
      font-size: 430%;
    }

    .fourth {
      margin-left: 0;
      margin-right: 0;
      width: 80%;
      background-color: #f6d7b0;
      background-image: url("/img/line_upLanding.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .boks {
      grid-template-columns: 1fr;
    }
    .streg {
      display: none;
    }

    .first_card,
    .second_card,
    .third_card,
    .fourth_card,
    .fifth_card,
    .sixth_card,
    .seventh_card,
    .eighth_card,
    .ninth_card {
      grid-column: 1;
      margin: 0;
      place-self: center;
    }
  }
</style>
