---
---

<a class="buy_ticket_btn" href="#">BUY TICKET</a>

<script src="../scripts/burger.js"></script>

<style>
  a {
    display: grid;
    font-family: var(--ff-head);
    font-size: 1.3rem;
    background: var(--white);
    color: var(--button-green);
    font-weight: var(--fw-xb);
    border: none;
    /* box-shadow: 0px 4px 4px #a6a2a2; */
    filter: drop-shadow(0px 4px 8px #a3a0a0);
    height: 4rem;
    width: 12rem;
    place-items: center;
    opacity: 1;
    transition: all 0.4s;
  }
  a:hover {
    color: var(--white);
    background: var(--button-green);
    filter: drop-shadow(0px 4px 4px #817e7e);
    /* filter: drop-shadow(0px 4px 8px #ffffff); */
    scale: 1.03;
  }
  .hidden {
    transition: 0.8s ease-in;
    opacity: 0;
    /* display: none; */
  }
</style>
