---
// import { Debug } from "astro/components";
// const response = await fetch("");
// const data = await response.json();
// console.log(data);
---

<div>
  <!-- Exportér img i korrekt size -->
  <!-- <img src="" alt="" />-->
  <p id="days"></p>
  <p class="letter">D</p>
  <p id="hours"></p>
  <p class="letter letter2">H</p>
  <p id="mins"></p>
  <p class="letter letter3">M</p>
  <p id="secs"></p>
  <p class="letter letter4">S</p>
  <h2 id="end"></h2>
</div>

<style>
  @font-face {
    font-family: KarlaBold;
    src: url(../../public/fonts/Karla/static/Karla-Bold.ttf);
  }
  @font-face {
    font-family: KarlaRegular;
    src: url(../../public/fonts/Karla/static/Karla-Regular.ttf);
  }
  div {
    height: 500px;
    display: flex;
    position: relative;
  }

  p {
    margin: 1%;
    font-size: 500%;
    font-family: KarlaBold;
    -webkit-text-stroke: 2px black;
    color: rgb(227, 227, 227);
  }
  .letter {
    position: absolute;
    left: 8.2%;
    font-size: 240%;
    color: rgb(255, 255, 255);
  }

  .letter2 {
    left: 15%;
  }

  .letter3 {
    left: 23.3%;
  }

  .letter4 {
    left: 32%;
  }
</style>

<script>
  // The data/time we want to countdown to
  var countDownDate = new Date("Jul 19, 2023 12:00:00").getTime();

  // Run myfunc every second
  var myfunc = setInterval(function () {
    var now = new Date().getTime();
    var timeleft = countDownDate - now;

    // Calculating the days, hours, minutes and seconds left
    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

    // Result is output to the specific element
    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("mins").innerHTML = minutes;
    document.getElementById("secs").innerHTML = seconds;

    // Display the message when countdown is over
    if (timeleft < 0) {
      clearInterval(myfunc);
      document.getElementById("days").innerHTML = "";
      document.getElementById("hours").innerHTML = "";
      document.getElementById("mins").innerHTML = "";
      document.getElementById("secs").innerHTML = "";
      document.getElementById("end").innerHTML = "Welcome!";
    }
  }, 1000);
</script>
