---
---

<div>
  <p id="days"></p>

  <p id="hours"></p>

  <p id="mins"></p>

  <p id="secs"></p>

  <h2 id="end"></h2>
</div>

<style>
  div {
    z-index: 2;
    height: 500px;
    display: flex;
    position: relative;
    top: 40%;
    /* left: 23%; = skaber horizontal scrolling, nedenunder fixer*/
    justify-content: center;
  }

  p {
    margin: 1%;
    font-size: 500%;
    font-family: var(--ff-text);
    font-weight: var(--fw-b);
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
      #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
      #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
      #000 0px 0px 1px;
    color: rgb(227, 227, 227);
  }
  .letter {
    position: absolute;
    left: 8.2%;
    font-size: 240%;
    color: rgb(255, 255, 255);
  }

  div > * {
    min-width: 10rem;
    text-align: end;
  }
  #days::after,
  #hours::after,
  #mins::after,
  #secs::after {
    position: absolute;
    font-size: 2rem;
    color: var(--white);
  }
  #days::after {
    content: "D";
  }
  #hours::after {
    content: "H";
  }
  #mins::after {
    content: "M";
  }
  #secs::after {
    content: "S";
  }
</style>

<script>
  // The data/time we want to countdown to
  var countDownDate = new Date("Jul 19, 2023 12:00:00").getTime();

  // Run myfunc every second
  var myfunc = setInterval(function () {
    var now = new Date().getTime();
    var timeleft = countDownDate - now;

    // Calculating the days, hours, minutes and seconds left
    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

    // Result is output to the specific element
    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("mins").innerHTML = minutes;
    document.getElementById("secs").innerHTML = seconds;
    // document.getElementById("hours").innerHTML = hours < 10 ? "0" + hours : hours;
    // document.getElementById("mins").innerHTML = minutes < 10 ? "0" + minutes : minutes;
    // document.getElementById("secs").innerHTML = seconds < 10 ? "0" + seconds : seconds;

    // Display the message when countdown is over
    if (timeleft < 0) {
      clearInterval(myfunc);
      document.getElementById("days").innerHTML = "";
      document.getElementById("hours").innerHTML = "";
      document.getElementById("mins").innerHTML = "";
      document.getElementById("secs").innerHTML = "";
      document.getElementById("end").innerHTML = "Welcome!";
    }
  }, 1000);
</script>
