---
---

<div class="header">
  <img class="logo" src="../../public/img/logo.png" alt="" />
  <div class="right_side">
    <!-- Sæt korrekte symboler ind -->
    <img class="buy_ticket" src="../../public/img/logo.png" alt="" />
    <img src="../../public/img/logo.png" alt="" />
  </div>
</div>

<style>
  .header {
    display: flex;
    background-color: rgb(57, 85, 76);
    width: 100%;
    height: 200px;
    justify-content: space-between;
  }
  .logo {
    width: 10%;
    height: 35%;
    margin-top: 40px;
    margin-left: 40px;
  }

  .right_side {
    margin-top: 56px;
    margin-right: 56px;
  }

  .buy_ticket {
    margin-right: 15px;
  }
</style>

<script></script>
