---
import Menu from "./Menu.astro";
---

<div class="header">
  <img class="logo" src="../img/logo.png" alt="" />
  <div class="right_side">
    <!-- Sæt korrekte symboler ind -->
    <img class="buy_ticket" src="../img/logo.png" alt="" />
    <Menu />
  </div>
</div>

<style>
  .header {
    display: flex;
    background-color: rgb(57, 85, 76);
    width: 100%;
    height: 200px;
    justify-content: space-between;
  }
  .logo {
    margin-top: 40px;
    margin-left: 40px;
    aspect-ratio: 198/90;
    height: 90px;
  }

  .right_side {
    /* delete below*/
    display: flex;
    gap: 1rem;
    /* delete above */
    margin-top: 56px;
    margin-right: 56px;
  }

  .buy_ticket {
    margin-right: 15px;
  }
</style>

<script></script>
