---
---

<nav>
  <a href="program.html">PROGRAM</a>
  <a href="tickets.html">TICKETS</a>
  <a href="volunteer.html">VOLUNTEER</a>
  <a href="line-up.html">LINE-UP</a>
  <a href="info.html">INFO</a>
  <a href="about.html">ABOUT</a>
</nav>

<style>
  nav {
    background: var(--pink);
    background: #fadadd;
  }
  nav a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--ff-head);
    font-family: Montserrat;
    font-weight: 800;
    font-size: 4rem;
  }
</style>
