---
---

<nav class="pink_nav">
  <a href="program.html">PROGRAM</a>
  <a href="tickets.html">TICKETS</a>
  <a href="volunteer.html">VOLUNTEER</a>
  <a href="line-up.html">LINE-UP</a>
  <a href="info.html">INFO</a>
  <a href="about.html">ABOUT</a>
</nav>

<script src="../scripts/burger.js"></script>

<style>
  nav {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vw;
    background: var(--pink);
    background: #fadadd;
    padding-top: 9rem;
    transition: 0.8s;
  }
  nav.is-active {
    left: 0;
  }
  nav a {
    display: block;
    text-decoration: none;
    color: var(--white);
    font-family: var(--ff-head);
    font-weight: 800;
    font-size: 3rem;
    width: 100%;
    max-width: 25rem;
    text-align: center;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
  }
  nav a:hover {
    color: #16a085;
    /* opacity: 86%; */
    color: var(--button-green);
  }
</style>
