---
---

<a href="#">Program</a>

<style>
  a {
    margin: auto;
    width: 336px;
    height: 79px;
    background-color: #ffae3b;
    filter: drop-shadow(0px 4px 8px #a3a0a0);
    display: flex;
    justify-content: center;
    font-family: var(--ff-head);
    align-items: center;
    font-weight: 800;
    font-size: 50px;
    color: #ffffff;
  }
  @media (max-width: 930px) {
    a {
      width: 276px;
      height: 59px;
      font-weight: 700;
      font-size: 33px;
    }
  }

  @media (max-width: 375px) {
    a {
      width: 236px;
      height: 39px;
      font-weight: 600;
      font-size: 22px;
    }
  }
</style>
