---
---

<a class="program" href="#">Program</a>

<style>
  .program {
    position: absolute;
    width: 336px;
    height: 79px;
    left: 587px;
    top: 3400px;
    background: #ffae3b;
    filter: drop-shadow(0px 4px 8px #a3a0a0);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 279px;
    height: 58px;
    left: 616px;
    top: 3409px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 115.02%;
    color: #ffffff;
  }
</style>
