---
---

<a class="program" href="#">Program</a>

<style>
  .program {
    position: absolute;
    width: 336px;
    height: 79px;
    left: 587px;
    top: 3400px;
    background: #ffae3b;
    border: 3px solid #000000;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 279px;
    height: 58px;
    left: 616px;
    top: 3409px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 115.02%;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
</style>
